<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Binary Search Tree</title>
    <script src="../build/app/scripts/aframe.bundle.js"></script>
  </head>
  <body>
    <a-scene id="scene">

      <a-assets>
        <img id="skyTexture" src="https://cdn.aframe.io/a-painter/images/sky.jpg">
        <img id="groundTexture" src="https://cdn.aframe.io/a-painter/images/floor.jpg">

        <a-mixin id="sphere" geometry = "primitive: sphere; radius: 0.5"></a-mixin>
        <a-mixin id="cylinder" geometry = "primitive: cylinder" color="cyan" radius = "0.25"></a-mixin>
        <a-mixin id="yellow" draw = "background: yellow"></a-mixin>
      </a-assets>

      <a-sky id="background" src="#skyTexture" theta-length="90" radius="30">
      </a-sky>

      <a-cylinder id="ground" src="#groundTexture" radius="30" height = "0.1"></a-cylinder>

      <a-camera
        id = "user"
        position = "-1 0 14"
        cursor-visible = "true"
        cursor-scale = "2"
        cursor-color = "#0095DD"
        cursor-opacity = "0.5"
        animation__shiftUp =
          "property: position; delay: 3000; dur: 1500; dir:normal; from: -1 0 14; to: -1 12 14"
        >
      </a-camera>

      <!--20 to -30-->
      <a-entity>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="0"
                      from="true"
                      to="false"
                      repeat="0"
        ></a-animation>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="13250"
                      from="false"
                      to="true"
                      repeat = "indefinite">
        </a-animation>
        <a-tube path="-1 18 2, -6 16 2" 
                radius="0.10" 
                material="color:cyan" >
        </a-tube>
      </a-entity>
      <!-- -20 to 52-->
      <a-entity>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="0"
                      from="true"
                      to="false"
                      repeat="0"
        ></a-animation>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="17250"
                      from="false"
                      to="true"
                      repeat = "indefinite">
        </a-animation>
        <a-tube path="-1 18 2, 4 16 2" 
                radius="0.10" 
                material="color:cyan" >
        </a-tube>
      </a-entity>
      <!-- 52 to 15-->
      <a-entity>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="0"
                      from="true"
                      to="false"
                      repeat="0"
        ></a-animation>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="22250"
                      from="false"
                      to="true"
                      repeat = "indefinite">
        </a-animation>
        <a-tube path="4 16 2, 2 14 2" 
                radius="0.10" 
                material="color:cyan" >
        </a-tube>
      </a-entity>
      <!-- 15 to 51 -->
      <a-entity>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="0"
                      from="true"
                      to="false"
                      repeat="0"
        ></a-animation>
        <a-animation  attribute = "visible"
                      dur="0"
                      delay="28250"
                      from="false"
                      to="true"
                      repeat = "indefinite">
        </a-animation>
        <a-tube path="2 14 2, 4 12 2" 
                radius="0.10" 
                material="color:cyan" >
        </a-tube>
      </a-entity>
      <!--
        Insert Twelfth
        Value: -16
        animation__0_insert     start @ 65,000 end @ 67,000
        animation__1_shiftRight start @ 67,000 end @ 69,000
        animation__2_shiftLeft  start @ 69,000 end @ 70,000
        animation__3_shiftLeft  start @ 70,000 end @ 71,000
        animation__4_intoSpot   start @ 71,000 end @ 72,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = " 4 2 2"
        textwrap = "textAlign: center; x:60; y:128; font: bold 40px arial; text: -16"
        animation__0_insert =
          "property: position; delay: 65000; dur: 2000; dir: normal; from: 4 2 2; to: -1 18 2"
        animation__1_shiftRight =
          "property: position; delay: 67000; dur: 2000; dir: normal; from: -1 18 2; to: 4 16 2"
        animation__2_shiftLeft = 
          "property: position; delay: 69000; dur: 1000; dir: normal; from: 4 16 2; to: 2 14 2"
        animation__3_shiftLeft =
          "property: position; delay: 70000; dur: 1000; dir: normal; from: 2 14 2; to: 0 12 2"
        animation__4_intoSpot =
          "property: position; delay: 71000; dur: 1000; dir: normal; from: 0 12 2; to: -2 10 2">
      </a-entity>

      <!--
        Insert Eleventh
        Value: 10
        animation__0_insert     start @ 59,000 end @ 61,000
        animation__1_shiftRight start @ 61,000 end @ 63,000
        animation__2_shiftLeft  start @ 63,000 end @ 64,000
        animation__3_intoSpot   start @ 64,000 end @ 65,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user" 
        position = "2 2 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text:10"
        animation__0_insert =
          "property: position; delay: 59000; dur: 2000; dir: normal; from: 2 2 2; to: -1 18 2"
        animation__1_shiftRight =
          "property: position; delay: 61000; dur: 2000; dir: normal; from: -1 18 2; to: 4 16 2"
        animation__2_shiftLeft =
          "property: position; delay: 63000; dur: 1000; dir: normal; from: 4 16 2; to: 2 14 2"
        animation__3_intoSpot =
          "property: position; delay: 64000; dur: 1000; dir: normal; from: 2 14 2; to: 0 12 2">
        </a-entity>

      <!--
        Insert Tenth
        Value: 53
        animation__0_insert     start @ 54,000 end @ 56,000
        animation__1_shiftRight start @ 56,000 end @ 58,000
        animation__2_intoSpot   start @ 58,000 end @ 59,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "0 2 2"
        textwrap = "textAlign: center; x: 60; y:120; font: bold 40px arial; text: 53"
        animation__0_insert =
          "property: position; delay: 54000; dur: 2000; dir: normal; from: 0 2 2; to: -1 18 2"
        animation__1_shiftRight =
          "property: position; delay: 56000; dur: 2000; dir: normal; from: -1 18 2; to: 4 16 2"
        animation__2_intoSpot =
          "property: position; delay: 58000; dur: 1000; dir: normal; from: 4 16 2; to: 6 14 2">
      </a-entity>

      <!--
        Insert Ninth
        Value: -40
        animation__0_insert     start @ 46,000 end @ 48,000
        animation__1_shiftLeft  start @ 48,000 end @ 50,000
        animation__2_shiftLeft  start @ 50,000 end @ 51,000
        animation__3_shiftRight start @ 51,000 end @ 52,000
        animation__4_shiftRight start @ 52,000 end @ 53,000
        animation__5_intoSpot   start @ 53,000 end @ 54,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "-2 2 2"
        textwrap = "textAlign: center; x: 60; y:120; font: bold 40px arial; text: -40"
        animation__0_insert =
          "property: position; delay: 46000; dur: 2000; dir: normal; from: -2 2 2; to: -1 18 2"
        animation__1_shiftLeft =
          "property: position; delay: 48000; dur: 2000; dir: normal; from: -1 18 2; to: -6 16 2"
        animation__2_shiftLeft =
          "property: position; delay: 50000; dur: 1000; dir: normal; from: -6 16 2; to: -8 14 2"
        animation__3_shiftRight =
          "property: position; delay: 51000; dur: 1000; dir: normal; from: -8 14 2; to: -6 12 2"
        animation__4_shiftRight =
          "property: position; delay: 52000; dur: 1000; dir: normal; from: -6 12 2; to: -4 10 2"
        animation__5_intoSpot = 
          "property: position; delay: 53000; dur: 1000; dir: normal; from: -4 10 2; to: -5.5 8 2">
      </a-entity>

      <!--
        Insert Eighth
        Value: -31
        animation__0_insert     start @ 39,000 end @ 41,000
        animation__1_shiftLeft  start @ 41,000 end @ 43,000
        animation__2_shiftLeft  start @ 43,000 end @ 44,000
        animation__3_shiftRight start @ 44,000 end @ 45,000
        animation__4_intoSpot   start @ 45,000 end @ 46,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "-4 2 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: -31"
        animation__0_insert =
          "property: position; delay: 39000; dur: 2000; dir:normal; from: -4 2 2; to: -1 18 2"
        animation__1_shiftLeft =
          "property: position; delay: 41000; dur: 2000; dir: normal; from: -1 18 2; to: -6 16 2"
        animation__2_shiftLeft =
          "property: position; delay: 43000: dur: 1000; dir: normal; from: -6 16 2; to: -8 14 2"
        animation__3_shiftRight =
          "property: position; delay: 44000; dur: 1000; dir: normal; from: -8 14 2; to: -6 12 2"
        animation__4_intoSpot =
          "property: position; delay: 45000; dur: 1000; dir: normal; from: -6 12 2; to: -4 10 2">
      </a-entity>
      
      <!--
        Insert Seventh
        Value: -58
        animation__0_insert     start @ 33,000 end @ 35,000
        animation__1_shiftLeft  start @ 35,000 end @ 37,000
        animation__2_shiftLeft  start @ 37,000 end @ 38,000
        animation__3_intoSpot   start @ 38,000 end @ 39,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "-6 2 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: -58"
        animation__0_insert =
          "property: position; delay: 33000; dur: 2000; dir: normal: from: -6 2 2; to: -1 18 2"
        animation__1_shiftLeft =
          "property: position; delay: 35000; dur: 2000; dir: normal; from: -1 18 2; to: -6 16 2"
        animation__2_shiftLeft =
          "property: position; delay: 37000; dur: 1000; dir: normal; from: -6 16 2; to: -8 14 2"
        animation__3_intoSpot =
          "property: position; delay: 38000; dur: 1000; dir: normal; from: -8 14 2; to: -6 12 2">
      </a-entity>

      <!--
        Insert Sixth
        animation__0_inset      start @ 28,000 end @ 30,000
        animation__1_shiftLeft  start @ 30,000 end @ 32,000
        animation__2_intoSpot   start @ 32,000 end @ 33,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "4 4 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: -65"
        animation__0_insert =
          "property: position; delay: 28000; dur: 2000; dir: normal; from: 4 4 2; to: -1 18 2"
        animation__1_shiftLeft =
          "property: position; delay: 30000; dur: 2000; dir: normal; from: -1 18 2; to: -6 16 2"
        animation__2_intoSpot =
          "property: position; delay: 32000: dur: 1000; dir: normal; from: -6 16 2; to: -8 14 2">
      </a-entity>
      <!--
        Insert Fith
        animation__0_insert     start @ 22,000 end @ 24,000
        animation__1_shiftRight start @ 24,000 end @ 26,000
        animation__2_shiftLeft  start @ 26,000 end @ 27,000
        animation__3_intoSpot   start @ 27,000 end @ 28,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "2 4 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: 51"
        animation__0_insert =
          "property: position; delay: 22000; dur: 2000; dir: normal; from: 2 4 2; to: -1 18 2"
        animation__1_shiftRight =
          "property: position; delay: 24000; dur: 2000; dir: normal; from: -1 18 2; to: 4 16 2"
        animation__2_shiftLeft = 
          "property: position; delay: 26000; dur: 1000; dir: normal; from: 4 16 2; to: 2 14 2"
        animation__3_intoSpot =
          "property: position; delay: 27000; dur: 1000; dir: normal; from: 2 14 2; to: 4 12 2"
        >
      </a-entity>

      <!--
        Insert Fourth
        animation__0_insert     start @ 17,000 end @ 19,000
        animation__1_shiftRight start @ 19,000 end @ 21,000
        animation__2_intoSpot   start @ 21,000 end @ 22,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "0 4 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: 15"
        animation__0_insert =
          "property: position; delay: 17000; dur: 2000; dir: normal; from: 0 4 2; to: -1 18 2"
        animation__1_shiftRight =
          "property: position; delay: 19000; dur: 2000; dir: normal; from: -1 18 2; to: 4 16 2"
        animation__2_intoSpot =
          "property: position; delay: 21000; dur: 1000; dir: normal; from: 4 16 2; to: 2 14 2">
      </a-entity>

      <!--
        Insert Third
        animation__0_insert   start @ 13,000 end @ 15,000
        animation__1_intoSpot start @ 15,000 end @ 17,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "-2 4 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: 52"
        animation__0_insert =
          "property: position; delay: 13000; dur: 2000; dir: normal; from: -2 4 2; to: -1 17 2"
        animation__1_intoSpot =
          "property: position; delay: 15000; dur: 2000; dir: normal; from: -1 18 2; to: 4 16 2">
      </a-entity>

      <!--
        Insert Second
        animation__0_insert   start @ 9,000 end @ 11,000
        animation__1_intoSpot start @ 11,000 end @ 13,000 
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "-4 4 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: -30"
        animation__0_insert =
          "property: position; delay: 9000; dur: 2000; dir: normal; from: -4 4 2; to: -1 18 2"
        animation__1_intoSpot =
          "property: position; delay: 11000; dur: 2000; dir: normal; from: -1 18 2; to: -6 16 2">
      </a-entity>

      <!--
        Insert First
        Value: -20
        animation__0: start @ 6000 end@ 9,000
        -->
      <a-entity
        mixin = "sphere yellow"
        look-at="#user"
        position = "-6 4 2"
        textwrap = "textAlign: center; x:60; y:120; font: bold 40px arial; text: -20"
        animation__0_insert =
          "property: position; delay: 6000; dur: 2000; dir: normal; from: -6 4 2; to: -1 18 2">
      </a-entity>
    </a-scene>

     <script src="../build/app/scripts/BinarySearchTree.bundle.js"></script>
 
  </body>

</html>