<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Merge Sort Scene</title>
    <script src="../build/app/scripts/aframe.bundle.js"></script>
  </head>
  <body>
    <a-assets>
      <img id="skyTexture" src="../assets/images/sky.jpg">
      <img id="groundTexture" src="../assets/images/floor.jpg">

      <a-mixin id="cube" geometry = "primitive: box"></a-mixin>
      <a-mixin id="orange" draw = "background: yellow"></a-mixin>
    </a-assets>
    <script src="../build/app/scripts/MergeSort.bundle.js"></script>
  </body>
</html>