<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Merge Sort Scene</title>
    <script src="../build/app/scripts/aframe.bundle.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
      <img id="skyTexture" src="../assets/images/sky.jpg">
      <img id="groundTexture" src="../assets/images/floor.jpg">

      <a-mixin id="box" geometry = "primitive: box"></a-mixin>
      <a-mixin id="orange" draw = "background: orange"></a-mixin>
    </a-assets>

    <a-sky id="background" src="#skyTexture" theta-length="90" radius="30"></a-sky>

    <a-cylinder id="ground" src="#groundTexture" radius="30" height = "0.1"></a-cylinder>

    <a-camera
      id = "user"
      position = "0 10 14"
      cursor-visible = "true"
      cursor-scale = "2"
      cursor-color = "#000000" 
    ></a-camera>

    <!--Value: 5-->
    <a-entity
      mixin = "box orange"
      position = "-3.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 5"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: -3.5 14 0; to: -6.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: -6.5 14 0; to: -9.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: -9.5 12 0; to: -10.5 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: -10.5 10 0; to: -8.5 12 0"
    ></a-entity>
    <!--Value: 2-->
    <a-entity
      mixin = "box orange"
      position = "-2.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 2"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: -2.5 14 0; to: -5.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: -5.5 14 0; to: -8.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: -8.5 12 0; to: -7.5 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: -7.5 10 0; to: -9.5 12 0"
    ></a-entity>
    <!--Value: 4-->
    <a-entity
      mixin = "box orange"
      position = "-1.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 4"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: -1.5 14 0; to: -4.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: -4.5 14 0; to: -3.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: -3.5 12 0; to: -5.0 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: -5.0 10 0; to: -3.5 12 0"
    ></a-entity>
    <!--Value: 7-->
    <a-entity
      mixin = "box orange"
      position = "-0.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 7"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: -0.5 14 0; to: -3.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: -3.5 14 0; to: -2.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: -2.5 12 0; to: -2 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: -2 10 0; to: -2.5 12 0"
    ></a-entity>
    <!--Value: 1-->
    <a-entity
      mixin = "box orange"
      position = "0.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 1"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: 0.5 14 0; to: 3.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: 3.5 14 0; to: 1.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: 1.5 12 0; to: 0.5 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: 0.5 10 0; to: 1.5 12 0"
    ></a-entity>
    <!--Value: 3   -->
    <a-entity
      mixin = "box orange"
      position = "1.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 3"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: 1.5 14 0; to: 4.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: 4.5 14 0; to: 2.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: 2.5 12 0; to: 3 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: 3 10 0; to: 2.5 12 0"
    ></a-entity>
    <!--Value: 2-->
    <a-entity
      mixin = "box orange"
      position = "2.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 2"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: 2.5 14 0; to: 5.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: 5.5 14 0; to: 7.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: 7.5 12 0; to: 6 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: 6 10 0; to: 7.5 12 0"
    ></a-entity>
    <!--Value: 6-->
    <a-entity
      mixin = "box orange"
      position = "3.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 6"
      animation__0_split =
        "property: position; delay: 2000; dur: 1000; dir: normal; from: 3.5 14 0; to: 6.5 14 0"
      animation__1_shiftNsplit =
        "property: position; delay: 3000; dur: 1000; dir: normal; from: 6.5 14 0; to: 8.5 12 0"
      animation__2_shiftNsplit =
        "property: position; delay: 4000; dur: 1000; dir: normal; from: 8.5 12 0; to: 9.5 10 0"
      animation__3_sort =
        "property: position; delay: 5000; dur: 1000; dir: normal; from: 9.5 10 0; to: 8.5 12 0"
    ></a-entity>
    </a-scene>
    <script src="../build/app/scripts/MergeSort.bundle.js"></script>
  </body>
</html>