<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Merge Sort Scene</title>
    <script src="../build/app/scripts/aframe.bundle.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
      <img id="skyTexture" src="../assets/images/sky.jpg">
      <img id="groundTexture" src="../assets/images/floor.jpg">

      <a-mixin id="box" geometry = "primitive: box"></a-mixin>
      <a-mixin id="orange" draw = "background: orange"></a-mixin>
    </a-assets>

    <a-sky id="background" src="#skyTexture" theta-length="90" radius="30"></a-sky>

    <a-cylinder id="ground" src="#groundTexture" radius="30" height = "0.1"></a-cylinder>

    <a-camera
      id = "user"
      position = "0 10 14"
      cursor-visible = "true"
      cursor-scale = "2"
      cursor-color = "#000000" 
    ></a-camera>

    <a-entity
      mixin = "box orange"
      position = "-3.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 5"
    ></a-entity>

    <a-entity
      mixin = "box orange"
      position = "-2.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 2"
    ></a-entity>

    <a-entity
      mixin = "box orange"
      position = "-1.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 4"
    ></a-entity>

    <a-entity
      mixin = "box orange"
      position = "-0.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 7"
    ></a-entity>
    
    <a-entity
      mixin = "box orange"
      position = "0.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 1"
    ></a-entity>
    
    <a-entity
      mixin = "box orange"
      position = "1.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 3"
    ></a-entity>
    
    <a-entity
      mixin = "box orange"
      position = "2.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 2"
    ></a-entity>
    
    <a-entity
      mixin = "box orange"
      position = "3.5 14 0"
      textwrap = "textAlign: center; x:120; y:128; font: 100px arial; text: 6"
    ></a-entity>
    </a-scene>
    <script src="../build/app/scripts/MergeSort.bundle.js"></script>
  </body>
</html>