<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="../css/Stack.css" type="text/css">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <script src="../build/app/scripts/aframe.bundle.js"></script>
    <script type="../build/app/scripts/Stack.bundle.js"></script>
  </head>

  <body>
    <a-scene stats>

      <a-gradient-sky material="shader: gradient;
                                topColor: 255 0 0;
                                bottomColor: 0 121 255;">
      </a-gradient-sky>
      
      <a-camera
        position = "2 0 4"
        cursor-visible = "true"
        cursor-scale = "2"
        cursor-color = "#0095DD"
        cursor-opacity = "0.5">
      </a-camera>


      <a-entity
        position = "0 3 -4"
        scale = "3 3 1"
        wrapCount = "20"
        text=
            "width:2;
             color:white;
             value: A stack lets you insert and remove elements only at one end, traditionally called the top of the stack.
             
             New items can be added to the top of the stack.
             
             Items are removed from the top of the stack as well.
             
             Therefore, items are removed in the order that is opposite from the order in which they have been added.
             
             last-in, first-out or LIFO Order">
      </a-entity>

      <!--Purple Box-->
      <a-entity
        geometry = "primitve: box"
        position = " 0 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: purple"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Dog"
        animation__shiftOne =
          "property: position; delay: 5000; dur: 500; dir: normal; from: 0 0 -3; to: 0 4 -3"
        animation__shiftTwo =
          "property: position; delay: 6000; dur: 500; dir: normal; from: 0 4 -3; to: 6 4 -3"
        animation__shiftThree =
          "property: position; delay: 7000; dur: 500; dir: normal; from: 6 4 -3; to: 6 3 -3"
        animation__shiftFour =
          "property: position; delay: 8000; dur: 500; dir:normal; from: 6 3 -3; to: 6 4 -3"
        animation__shiftFive =
          "property: position; delay: 9000; dur: 500; dir: normal; from: 6 4 -3; to: 7.5 4 -3"
        animation__shiftSix =
          "property: position; delay: 10000; dur: 500; dir: normal; from: 7.5 4 -3; to: 7.5 0 -3"
        animation__shiftSeven =
          "property: position; delay: 14000; dur: 500; dir: normal; from: 7.5 0 -3; to: 7.5 6 -3"
        animation__shiftEight =
          "property: position; delay: 15000; dur: 500; dir: normal; from: 7.5 6 -3; to: 6 6 -3"
        animation__shiftNine = 
          "property: position; delay: 16000; dur: 500; dir: normal; from: 6 6 -3; to: 6 4 -3">
      </a-entity>


      <!--Yellow Bow-->
      <a-entity
        geometry = "primitive: box"
        position = "3 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: yellow"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Bird"
        animation__shiftOne =
          "property: position;
           delay: 1000;
           dur: 500;
           dir: normal;
           to: 4.5 0 -3"
        animation__shiftTwo =
          "property: position;
           delay: 2000;
           dur: 500;
           dir: normal;
           from: 4.5 0 -3; to: 4.5 3 -3"
        animation__shiftThree =
          "property: position;
           delay: 3000;
           dur: 500;
           dir: normal;
           from: 4.5 3 -3; to: 6 3 -3"
        animation__shiftFour =
          "property: position;
           delay: 4000;
           dur: 500;
           dir: normal;
           from: 6 3 -3; to: 6 2 -3">
      </a-entity>

      <!--Green Box-->
      <a-entity
        geometry = "primitive: box"
        position = "6.0 1 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: green"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Ball">
      </a-entity>

      <!--Pink Box-->
      <a-entity
        geometry = "primitive: box"
        id = "pink"
        position = "6.0 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: pink"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Computer">
      </a-entity>

      <!--Cyan Bow-->
      <a-entity
        geometry = "primitive: box"
        position = "1.5 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: cyan"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Cat"
        animation__shiftOne =
          "property: position; delay: 11000; dur: 500; dir: normal: from: 1.5 0 -3; to: 1.5 5 -3"
        animation__shiftTwo =
          "property: position; delay: 12000; dur: 500; dir: normal; from: 1.5 5 -3; to: 6 6 -3"
        animation__shiftThree =
          "property: position; delay: 13000; dur: 500; dir: normal; from: 6 6 -3; to: 6 3 -3">
      </a-entity>

      <!--Bottom of Stack Text-->
      <a-entity
        position = "7 -1 -3"
        scale = "2 2 1"
        wrapCount = "20"
        text = 
          "width: 2;
           color: white;
           value: FLOOR - BOTTOM OF STACK"
        rotate = "-90 0 0">
      </a-entity>

  </body>
</html>