<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="../css/Stack.css" type="text/css">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <!--<script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>-->
    <script src="../build/app/scripts/aframe.bundle.js"></script>
  </head>

  <body>
    <a-scene stats>
      
      <a-camera
        position = "3 0 4"
        cursor-visible = "true"
        cursor-scale = "2"
        cursor-color = "#0095DD"
        cursor-opacity = "0.5">
      </a-camera>

      <a-entity
        geometry = "primitve: box"
        position = " -1 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: purple"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Dog">
      </a-entity>



      <a-entity
        geometry = "primitive: box"
        position = "1 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: red"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Cat">
      </a-entity>

      <a-entity
        geometry = "primitive: box"
        position = "2.5 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: blue"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Bird">
      </a-entity>

      <a-entity
        geometry = "primitive: box"
        position = "4 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: green"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Ball">
      </a-entity>

      <a-entity
        geometry = "primitive: box"
        position = "5.5 0 -3"
        depth = "1" height = "1" width = "1"
        draw = "background: yellow"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Train">
      </a-entity>

      <a-entity
        geometry = "primitive: box"
        position = "7 0 -3"
        depth = "1" height = "1" widht = "1"
        draw = "background: pink"
        textwrap = "textAlign: center; x: 128; y: 128; font: 40px serif; text: Computer">
      </a-entity>


      <script type="../build/app/scripts/Stack.bundle.js"></script>
  </body>
</html>